<form class="form-horizontal">
    <fieldset>
      <legend class="container-fluid">
        <div class="col-xs-7 col-sm-6 col-md-5 col-lg-4 text"><%= !data.model.id ? '' : i18n.t('cluster.id') +' : '+ data.model.id %></div>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 buttons form-actions">
          <button type="submit" class="btn btn-primary btn-fab">
            <span class="icon material-icon">check</span>
          </button>
          <button type="reset" class="btn btn-link btn-reset">
            <%= i18n.t('common.cancel') %>
          </button>
          <div class="loader">
            <span class="icon material-icon">filter_tilt_shift</span>
          </div>
        </div>
      </legend>
    </fieldset>
    <% if (data.model.configFile) { %>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#subcluster-query-begginer" role="tab" data-toggle="tab">Begginer</a>
        </li>
        <li>
            <a href="#subcluster-query-advanced" role="tab" data-toggle="tab">Advanced</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="subcluster-query-begginer" class="tab-pane active js-sortables js-sortable-subclusters">
        <% _.forEach(data.model.configFile.navigation_items.queries, function(subcluster, subclusterIdx) { %>
            <fieldset class="collapsed">
              <legend class="container-fluid clearfix">
                  <button type="button" class="handle-subcluster btn btn-primary btn-fab btn-sm">
                    <span class="icon material-icon">swap_vertical</span>
                  </button>
                  <%= i18n.t('cluster.subcluster') %> <%= subclusterIdx+1 %>
                  <button type="button" class="btn btn-sm pull-right" data-toggle="collapse" data-target=".subcluster-query-collapse-<%=subclusterIdx%>">
                      <span class="visible-collapsed">Open</span>
                      <span class="hidden-collapsed">Close</span>
                  </button>
              </legend>
              <div class="collapse subcluster-query-collapse-<%=subclusterIdx%>">
              <% _.forEach(subcluster.label, function(label, lang) { %>
              <div class="form-group">
                <label class="control-label col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <%= i18n.t('cluster.subcluster.label') %> <%= lang %>
                </label>
                <div class="col-xs-7 col-sm-6 col-md-5 col-lg-4 form-control-col">
                  <input type="text" class="form-control" name="configFile[navigation_items][queries][<%=subclusterIdx%>][label][<%= lang %>]" value="<%= label %>" />
                </div>
                <span class="help-block"></span>
              </div>
              <% }); %>
              <div class="form-group">
                <label class="control-label col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <%= i18n.t('cluster.subcluster.filter') %>
                </label>
                <div class="col-xs-7 col-sm-6 col-md-5 col-lg-4 form-control-col">
                  <input type="text" class="form-control" name="configFile[navigation_items][queries][<%=subclusterIdx%>][filter]" value="<%= subcluster.filter %>" />
                </div>
                <span class="help-block"></span>
              </div>
              <% if (_.get(subcluster, 'container_display.display.listSettings.columns')) { %>
              <div class="form-group">
                <label class="control-label col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <%= i18n.t('cluster.subcluster.columns') %>
                </label>
                <div name="columns" class="col-xs-7 col-sm-6 col-md-5 col-lg-4 form-control-col js-sortables js-sortable-subcluster-columns">
                  <% _.forEach(subcluster.container_display.display.listSettings.columns, function(column) { %>
                      <% var rowTpl = require('./cluster.form.subclustercolumn.tpl.html'); %>
                      <%= rowTpl({model: data.model, subclusterIdx: subclusterIdx, value:column}) %>
                  <% }); %>
                </div>
                <div class="col-xs-offset-5 col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-xs-5">
                    <button type="button" class="btn btn-primary btn-xs js-btn-add-sortable">
                      <span class="icon material-icon">add</span> Add an item
                    </button>
                </div>
                <span class="help-block"></span>
              </div>
              <% } %>

              <% if (_.get(subcluster, 'container_display.display.chartSettings.charts')) { %>
              <div class="form-group">
                <label class="control-label col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <%= i18n.t('cluster.subcluster.charts') %>
                </label>
                <div name="charts" class="col-xs-7 col-sm-6 col-md-5 col-lg-4 form-control-col js-sortables js-sortable-subcluster-charts sortable-subcluster-charts">
                <% _.forEach(subcluster.container_display.display.chartSettings.charts, function(chart) { %>
                    <% var rowTpl = require('./cluster.form.subclusterchart.tpl.html'); %>
                    <%= rowTpl({model: data.model, subclusterIdx: subclusterIdx, value:chart}) %>
                <% }); %>
                </div>
                <div class="col-xs-offset-5 col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-xs-5">
                    <button type="button" class="btn btn-primary btn-xs js-btn-add-sortable">
                      <span class="icon material-icon">add</span> Add an item
                    </button>
                </div>
                <span class="help-block"></span>
              </div>
              <% } %>

              <% if (_.get(subcluster, 'container_display.display.mapSettings.layers')) { %>
              <div class="form-group">
                <label class="control-label col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <%= i18n.t('cluster.subcluster.mapLayers') %>
                </label>
                <div name="maplayers" class="col-xs-7 col-sm-6 col-md-5 col-lg-4 form-control-col js-sortables js-sortable-subcluster-maplayers">
                <% _.forEach(subcluster.container_display.display.mapSettings.layers, function(layer) { %>
                    <% var rowTpl = require('./cluster.form.subclustermaplayer.tpl.html'); %>
                    <%= rowTpl({model: data.model, subclusterIdx: subclusterIdx, value:layer}) %>
                <% }); %>
                </div>
                <div class="col-xs-offset-5 col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-xs-5">
                    <button type="button" class="btn btn-primary btn-xs js-btn-add-sortable">
                      <span class="icon material-icon">add</span> Add an item
                    </button>
                </div>
                <span class="help-block"></span>
              </div>
              <% } %>

              <% if (_.get(subcluster, 'container_display.display.mapSettings.popup')) { %>
              <div class="form-group">
                <label class="control-label col-xs-5 col-sm-4 col-md-3 col-lg-2">
                    <%= i18n.t('cluster.subcluster.mapPopupTitle') %>
                </label>
                <div class="col-xs-7 col-sm-6 col-md-5 col-lg-4 form-control-col">
                    <select class="form-control" name="configFile[navigation_items][queries][<%=subclusterIdx%>][container_display][display][mapSettings][popup][title]">
                    <% _.forEach(data.model.configFile.data_mapping_and_display, function(field, fieldname) { %>
                        <option value="<%= fieldname %>" <%= _.get(subcluster, 'container_display.display.mapSettings.popup.title') != fieldname ? '' : 'selected' %> ><%= fieldname %></option>
                    <% }); %>
                    </select>
                </div>
                <span class="help-block"></span>
              </div>
              <% } %>
              </div>
            </fieldset>
        <% }); %>
        </div>
        <div id="subcluster-query-advanced" class="tab-pane">
            <fieldset class="restorable" data-restorable-field="configFile">
                <legend class="container-fluid clearfix">
                    Config File
                </legend>
                <div class="form-group">
                    <div class="col-xs-12 form-control-col">
                        <textarea class="form-control" name="configFile-advanced"><%= JSON.stringify(data.model.configFile, null, '  ') %></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 col-md-3 col-lg-2">
                        <%= i18n.t('cluster.subcluster.mapPopupTitle') %>
                    </label>
                    <div class="col-sm-6 col-md-5 col-lg-4 form-control-col">
                        <select class="form-control">
                        <% _.forEach(data.revisions.configFile, function(configFileRevision) { %>
                            <option value="<%= configFileRevision.id %>"><%= configFileRevision.time %></option>
                        <% }); %>
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-4 col-lg-6">
                        <button type="button" class="btn btn-sm btn-preview">Preview</button>
                        <button type="button" class="btn btn-sm btn-apply">Apply</button>
                        <span class="loader restorable-loader">
                          <span class="icon material-icon">filter_tilt_shift</span>
                      </span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <% } %>
  </form>
